// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.codenav {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  -webkit-user-select: none;

  .list-group li:not(.list-nested-item).selected, .list-tree li:not(.list-nested-item).selected, .list-group li.list-nested-item.selected > .list-item, .list-tree li.list-nested-item.selected > .list-item {
    color: @text-color-info;
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-item::before {
    top: 1px;
  }
}

.needs-spacer {
  & + &:before {
    content: ', '
  }
}
