// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import 'ui-variables';

.codenav-container {
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size);
  line-height: var(--editor-line-height);
  overflow: auto;
}

.codenav {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  -webkit-user-select: none;

  .list-tree.has-collapsable-children .list-nested-item > .list-item::before {
    top: 1px;
  }
}

.selected ~ .selected:before {
  background-color: lighten(#24282e, 5%) !important;
}

.needs-spacer {
  & + &:before {
    content: ', ';
  }
}
